<h1>create a post</h1>
<form action="/scribbles/create" method="post" enctype="multipart/form-data">

    <label for="title">Title:
    <input type="text" name="title">
    </label>

    <label for="category">Choose a Category:
    <select name="category">
        <option value="Art Fart">art-fart</option>
        <option value="City Vibes">city-vibes</option>
        <option value="Food Corner">food-corner</option>
        <option value="Game Hub">game-hub</option>
    </select>
    </label>

    <label for="description">description:
    <input type="textarea" name="description">
    </label>

    <label for="location">Location:
    <input type="text" name="location">
    </label>

    <label for="ImageUrl">Profile Picture:
      <input type="file" name="ImageUrl" />
    </label>

    <button type="submit">Submit</button>
</form>