<h1 id="profile-h1">Create a Scribble</h1>
<div class="form-container">
  <div class="form-card">
<form action="/scribbles/create" method="post" enctype="multipart/form-data">

    <label for="title">Title:
    <input type="text" name="title">
    </label>

    <label for="category">Choose a Category:
    <select name="category">
        <option value="Art Fart">Art Fart</option>
        <option value="City Vibes">City Vibes</option>
        <option value="Food Corner">Food Corner</option>
        <option value="Game Hub">Game Hub</option>
    </select>
    </label>

    <label for="description">Description:
    <textarea name="description" required></textarea>
    </label>

    <label for="location">Location:
    <input type="text" name="location">
    </label>

    <label for="ImageUrl">Add a picture:
      <input type="file" name="ImageUrl" />
    </label>

    <button type="submit" class="btn">Submit</button>
</form>
</div>
</div>