<!--<div id="form">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST" enctype="multipart/form-data">

    <label for="firstName">First Name
      <input type="text" id="firstName" name="first_Name" required/>
    </label>

    <label for="lastName">Last Name
      <input type="text" id="lastName" name="last_Name" required/>
    </label>

    <label for="username">Username
      <input type="text" id="username" name="username" required/>
    </label>

    <label for="email">Email
      <input type="email" id="email" name="email" required/>
    </label>

    <label for="password">Password
      <input type="password" id="password" name="password" placeholder="********" required />
    </label>

    <label for="profilePicture">Profile Picture:
      <input type="file" name="profilePicture" />
    </label>

    <button type="submit">Sign Up</button>
    
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
-->

  <div class="form-container">
    <div id="form" class="form-card">
      <h2>Sign Up</h2>
      <form action="/signup" method="POST" enctype="multipart/form-data">

        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="first_Name" required/>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="last_Name" required/>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" required/>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="********" required/>

        <label for="profilePicture">Profile Picture:</label>
        <input type="file" name="profilePicture"/>

        <button type="submit" class="btn">Sign Up</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
