<h1>scribbles</h1>
<a href="/scribbles/food-corner">Food Corner</a>
<a href="/scribbles/game-hub">Game Hub</a>
<a href="/scribbles/art-fart">Art Fart</a>
<a href="/scribbles/city-vibes">City Vibes</a>
