 <div class="hero">
    <img src="/images/opening.png" alt="Hero Image" class="hero-image">
    <div class="hero-text">
      <h1>Welcome to Scribbles</h1>
      <br>
      <h2>Exchange your ideas.</h2>
    </div>
  </div>

<div class="cards-container">
    <a href="/scribbles/game-hub" class="card">
      <h3>Gamehub</h3>
    </a>
    <a href="/scribbles/art-fart" class="card">
      <h3>Art Fart</h3>
    </a>
    <a href="/scribbles/city-vibes" class="card">
      <h3>City Vibes</h3>
    </a>
    <a href="/scribbles/food-corner" class="card">
      <h3>Food Corner</h3>
    </a>
  </div>
