<div class="scribble-cards-container">
  <div class="scribble-card">
    <a href="/scribbles/game-hub" class="scribble-card-link">
      <h3>Gamehub</h3>
      <div class="scribble-card-content">
        <img src="/images/gaming.png" alt="Gamehub Image">
        <p>Explore various games and interactive content.</p>
      </div>
    </a>
  </div>
  <div class="scribble-card">
    <a href="/scribbles/art-fart" class="scribble-card-link">
      <h3>Art Fart</h3>
      <div class="scribble-card-content">
        <img src="/images/art.png" alt="Art Fart Image">
        <p>Discover the world of digital and traditional art.</p>
      </div>
    </a>
  </div>
  <div class="scribble-card">
    <a href="/scribbles/city-vibes" class="scribble-card-link">
      <h3>City Vibes</h3>
      <div class="scribble-card-content">
        <img src="/images/city.png" alt="City Vibes Image">
        <p>Experience the vibes of different cities around the globe.</p>
      </div>
    </a>
  </div>
  <div class="scribble-card">
    <a href="/scribbles/food-corner" class="scribble-card-link">
      <h3>Food Corner</h3>
      <div class="scribble-card-content">
        <img src="/images/food-inspo.png" alt="Food Corner Image">
        <p>Delve into the world of culinary delights and recipes.</p>
      </div>
    </a>
  </div>
</div>