<h1>create a post</h1>
<form action="/scribbles/create" method="post">
    <input type="text" name="title">
    <select name="cast" multiple>
        <option value="art-fart">art-fart</option>
        <option value="city-vibes">city-vibes</option>
        <option value="food-corner">food-corner</option>
        <option value="game-hub">game-hub</option>
    </select>
    <input type="textarea" name="description">
    <input type="text" name="location">
    <input type="text" name="time">
    <button type="submit">Submit</button>
</form>