<h1>create a post</h1>
<form action="/scribbles/create" method="post">

    <label for="first_Name">First Name:</label>
    <input type="text" name="title">
    <select name="category" multiple>
        <option value="Art Fart">art-fart</option>
        <option value="City Vibes">city-vibes</option>
        <option value="Food Corner">food-corner</option>
        <option value="Game Hub">game-hub</option>
    </select>
    <input type="textarea" name="description">
    <input type="text" name="location">
    {{!-- <input type="text" name="time"> --}}
    <button type="submit">Submit</button>
</form>