<h1>welcome to your profile {{user.first_Name}} {{user.last_Name}}</h1>
<div>
    <p>{{user.first_Name}}</p>
    <p>{{user.username}}</p>
</div>

<div>
<a href="/userProfile/edit">edit profile</a>
<a href="/scribbles/create">create scribble</a>
</div>
