<a href="/edit-profile"></a>
<h1>welcome to your profile</h1>

<div>
<h1>welcome to your profile {{user.first_Name}} {{user.last_Name}}</h1>
<div>{{user.first_Name}}</div>
<div>{{user.username}}</div>
</div>

<div>
<a href="/edit-profile">edit profile</a>
<a href="/create-post">create scribble</a>
</div>